/* generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 95%;
  margin: 10px auto;
}


/* fine generale */

/* intestazione */

header {
  background-color: yellow;
  margin-bottom: 10px;

  /* debug */
  height: 200px;
}
/* fine intestazione */

/* parte principale */

main::after {
  content: "";
  display: table;
  clear: both;
}
aside{
  /* background-color: violet; */
  width: 25%;
  float: left;
}

section{
  background-color: purple;
  width: 45%;
  height: 500px;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

aside > div {
  background-color: violet;
  height: 200px;
  margin-bottom: 20px;
}

/* fine parte principale */

/* footer */

footer {
  background-color: lightblue;
  margin-top: 10px;

  /* debug */
  height: 100px;
}
