/* generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 95%;
  margin: 10px auto;
}

/* fine generale */

/* intestazione */

header {
  background-color: yellow;

  /* debug */
  height: 200px;
}
/* fine intestazione */

/* parte principale */

main::after {
  content: "";
  display: table;
  clear: both;
}
aside{
  background-color: violet;
  width: 25%;
  height: 50px;
  float: left;
}

section{
  background-color: purple;
  width: 50%;
  height: 300px;
  float: left;
}

/* fine parte principale */

/* footer */

footer {
  background-color: lightblue;

  /* debug */
  height: 100px;
}
